= @image_tag 'hr.png'

%footer.footer
  %ul
    %li
      = @link_to 'Verbündete', 'https://www.dawaechstwas.de/verbuendete', target: '_blank'
    %li
      |
      = @link_to 'Impressum', 'https://www.dawaechstwas.de/impressum', target: '_blank'
    %li
      |
      = @link_to 'Datenschutz', 'https://www.dawaechstwas.de/datenschutz', target: '_blank'
    %li
      %span.divider
        |
      %small made with
      = @image_tag 'heart.png'
      %small by Gartenfreund
      = @link_to 'Tom Hanoldt', 'https://www.tomhanoldt.info', target: '_blank'
